<div class="row d-flex justify-content-center">
    <div>
        <img class="img-fluid shadow image" [src]="imagem" alt="">
       
    </div>
    
</div>
<hr>
        <div class="container  mb-5">
            <h1 class="text-center "><app-negrito negrar="Serviços"></app-negrito></h1>
            
            <div class="row mt-5">
               
                <div class="col-4">
                    <div class="card shadow" style="width: 18rem ;">
                        <img class="card-img-top img img-fluid" [src]="imagem" alt="Imagem de capa do card">
                        <div class="card-body">
                            <h5 class="card-title text-center">Divorcio</h5>
                            <p class="card-text">é um instrumento jurídico utilizado para obter o rompimento legal e definitivo do vínculo matrimonial, ou seja, do casamento civil</p>
                        </div>

                    </div>
                </div>

                <div class="col-4">
                    <div class="card shadow" style="width: 18rem ;">
                        <img class="card-img-top img img-fluid" [src]="imgEquipe" alt="Imagem de capa do card">
                        <div class="card-body">
                            <h5 class="card-title text-center">Criminalista</h5>
                            <p class="card-text">Algo ou alguém que, sendo advogado, se dedica ao estudo do direito penal ou a análise de casos criminais.</p>
                        </div>
                    </div>
                </div>                       

                <div class="col-4">
                    <div class="card shadow" style="width: 18rem ;">
                        <img class="card-img-top img img-fluid" [src]="imgEquipe2" alt="Imagem de capa do card">
                        <div class="card-body">
                            <h5 class="card-title text-center">Trabalhista</h5>
                            <p class="card-text">São os direitos trabalhistas que regulamentam a relação trabalhista para que a empresa e o próprio colaborador tenham conhecimento sobre suas obrigações e deveres, evitando processos trabalhistas e multas.</p>
                        </div>
                    </div>
                </div>
            </div>       
        </div>
